{% extends 'base.html' %}
{% block title %}My Books{% endblock %}
{% block body %}
<body class="d-fix h-100 text-left text-white bg-dark">



<div class="container">
    {% for book in barrows %}
    <div class="row">
        <div class="col-md-10">
            <div class="thumbnail">
                <div class="caption>">

                    <h4>{{book.title}}<small>   {{book.rating}}</small></h4>
                    <form method="GET">
                    <p><a href = "/myBooks/{{book.id}}/delete/" class = "btn btn-primary" role="button">Return</a></p>
                        </form>



                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if barrows.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ barrows.previous_page_number }}{%if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ barrows.number }} of {{ barrows.paginator.num_pages }}.
        </span>

        {% if barrows.has_next %}
            <a href="?page={{ barrows.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
            <a href="?page={{ barrows.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</body>

{% endblock %}
