
{% extends 'base.html' %}


{% block body %}

<body class="d-fix h-100 text-middle text-white bg-dark">


<div class="caption>">
                    <h3>{{books.title}}</h3>
                    <h4>Author: {{books.author}}</h4>
                    <h4>Publish Year: {{books.publish}}</h4>
                    <h4>Rating: {{books.rating}}</h4>
                </div>
<!--    <h4>{{book.title}}</h4>-->
<!--    Id: {{books.id}}<br>-->
<!--    Name: {{books.title}}<br>-->
<!--    Author: {{books.author}}<br>-->
<!--    Publish Year: {{books.publish}}<br>-->
<!--    Rating: {{books.rating}}<br>-->
{% endblock %}
</body>